.FDAStart{
transition-property:transform,opacity;
transform:translateY(150px);
transition-duration:0.7s;
opacity:0;
}
.FDAEnd{
transition-property:transform,opacity;
transition-duration:0.7s;
transform:translateY(0px);
opacity:1;
}
.lines {
/* the lines overflow the container. This creates a continuous flow of the background */
width: 200%;
/* We use a SVG file as the background */
/*background: url('lines.svg') repeat-x;*/
height: 120%;
text-align: center;
margin-top: 0px;
/* Any overflow is hidden */
overflow: hidden;
border-radius: 50px;
/* Implement the animations, we'll get to that later */
-webkit-animation: moveBars 1s linear infinite;
-moz-animation: moveBars 1s linear infinite;
-ms-animation: moveBars 1s linear infinite;
-o-animation: moveBars 1s linear infinite;
animation: moveBars 5s linear infinite;
font-weight: bold;
color: #fff;
font-size: 18px;
text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.quizLoaded {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: -70%;
    font-size: 1em;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    color: #000;
    z-index: 2;
}
@keyframes moveBars { 100% { margin-left: -180px; } }
@-webkit-keyframes moveBars { 100% { margin-left: -180px; } }
@-moz-keyframes moveBars { 100% { margin-left: -180px; } }
@-ms-keyframes moveBars { 100% { margin-left: -180px; } }
@-o-keyframes moveBars { 100% { margin-left: -180px; } }