@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300&display=swap');
body{
overflow:overlay;
margin:0;
font-family:Open Sans, sans-serif;/*'Montserrat'*/
}
h1,h2,h3,h4,h5,h6,h7,h8,h9,p{
margin-block-start:0;
margin-block-end:0;
}
.niceBtn{
border:1px grey solid;
border-radius:5px;
background:transparent;
cursor:pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
td{
padding:15px 10px 0 10px;
}
.noselect {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.hoverLink{
cursor:pointer
}
.hoverLink:hover{
opacity:0.7;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
*{
font-family:Open Sans, sans-serif;/*'Montserrat'*/
}
input[type='color']{
border-radius:10px;
border:none;
height:1.5em;

}
.niceInput{
border:none;
border-bottom:1px grey solid;
width:130px;
}
.niceShortInput{
border:none;
border-bottom:1px grey solid;
}
#detach-button-host {
/*display: none !important;*/
}
#theOnlyOneBody >:not(#root){
/*display: none;*/
}
html{

}
#theOnlyOneBody{
height:100%;
}
div{
outline:none;
}
input[type="checkbox"]{
margin-right:7px;
}
.cp{
cursor:pointer;
}
hr{
opacity:0.3;
}
br{
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
button{
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.textDN{
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.ho05:hover{
opacity:0.8;
transition:0.3s;
}
.b1pg{
border:1px #CACACA solid;
}
a{
cursor:pointer;
}
input{
border-radius:1px;
}
input:focus{
outline:none;
}
form *::selection{
background:transparent;
}
img{
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;

}

hr{
margin:0;
}
.typicalButton{
background-color:#058AFF;
border:1px #058AFF solid;
border-radius:5px;
padding:10px 24px;
font-size:18px;
color:white;
font-weight:500;

}
select{

}
select:focus{
outline: 0;
box-shadow:0;

}
pre{
font-size:16px;
font-family: 'Montserrat', sans-serif;
}
a{
cursor: pointer;
color:inherit;
}
a:visited{
color:inherit;
}
#signature, #signature:active, #signature:visited{
cursor: pointer;
text-decoration: none;
color:inherit;

transition-duration:.3s;
}
a:hover{

}/*
.serviceElement{
transition-duration:0.3s;
}
.serviceElement:hover{
box-shadow:inset 0px 0px 10px black;
}*/

.hoverOp{
opacity:1;
transition-duration:0.5s;
}
.hoverOp:hover{
opacity:0.6;
}

.hoverOpR{
opacity:0.6;
transition-duration:0.3s;
}
#wellsites{
visibility:hidden;
}
.hoverOpR:hover{
opacity:1;
}
.block{
transition-duration:0.5s;
}
.US{
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}





.spin-wrapper{
position: relative;
width: 100%;
height: 100vh;
background: #080705;
display:grid;
place-items:center;
}
.spinner{
position: absolute;
height: 60px;
width: 60px;
border: 3px solid transparent;
border-top-color: #A04668;
top: 50%;
left: 50%;
margin: -30px;
border-radius: 50%;
animation: spin 2s linear infinite;
}
.spinner:before, .spinner:after{
  content:'';
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}

.spinner:before{
  border-top-color: #254E70;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}

.spinner:after{
  border-top-color: #FFFBFE;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 4s linear infinite;
}



@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

