#dmnForm{
background-color:black;
border:3px #2FFF00 solid;
text-align:center;
position:absolute;
padding-top:30px;
}
#dmnForm *{
margin:10px 0;
}
#dmnForm div{
color:#2FFF00;
}
.dmnInput{
background-color:black;
border-color:#2FFF00;
color:#2FFF00;
}
#dmnLogBtn{
background-color:#2FFF00;
border-color:#2FFF00;
color:black;
font-weight:bold;
}
